name: Release

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      tag_name: ${{ steps.release.outputs.tag_name }}
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          package-name: rsp-validation

  test:
    uses: dvsa/.github/.github/workflows/nodejs-test.yaml@v2.3

  security:
    uses: dvsa/.github/.github/workflows/nodejs-security.yaml@v2.3
    with:
      args: --all-projects
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
    
  build:
    uses: dvsa/.github/.github/workflows/nodejs-build.yaml@v2.3
    if: ${{ needs.release-please.outputs.release-created }}
    needs: [ release-please, test, security ]
    with:
      upload_artifact: true
      build_folder: package
      build_folder_path: dist
      retention_days: 3
      build_command: build

  publish:
    needs: [release-please, test, security, build]
    if: ${{ needs.release-please.outputs.release-created }}
    uses: dvsa/.github/.github/workflows/nodejs-publish.yaml@v2.3
    with:
      node_version: '16.x'
      download_artifact: true
      build_folder: package
      build_folder_path: dist
      args: "--access=public"
    secrets:
      NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}